<!--<aside class="fixed top-0 left-0 w-64 h-screen bg-black border-amber-400 border-r-2 flex flex-col justify-between">-->
<!--  <img class="fixed w-64 -z-10 opacity-20" src="https://i.ebayimg.com/images/g/-Z8AAOSwIXlkI6RL/s-l500.jpg" alt="">-->
<!--  <div class="pt-16">-->
<!--    <div id="bio" class="flex items-center pl-5">-->
<!--      <img class="w-16 rounded-full" src="https://i.ebayimg.com/images/g/-Z8AAOSwIXlkI6RL/s-l500.jpg" alt=""/>-->
<!--      <h2 class="text-white text-2xl font-regular pl-3">teheidoma</h2>-->
<!--    </div>-->
<!--    <ul class="pl-10">-->
<!--      <li class="navbar-item"><a routerLink=""><i class="fa-solid fa-house fa-2xs pr-4"></i>Home</a></li>-->
<!--      <li class="navbar-item"><a routerLink="wish"><i class="fa-solid fa-star fa-2xs pr-4"></i>Wishes</a></li>-->
<!--      <li class="navbar-item"><a routerLink="time"><i class="fa-solid fa-clock fa-2xs pr-4"></i>Time</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="flex w-full justify-between">-->
<!--    <div>exit</div>-->
<!--    <div>ua</div>-->
<!--  </div>-->
<!--</aside>-->
<aside class="menu bg-primary w-full h-screen flex flex-col justify-center items-center isolate box-shadow" >
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary" routerLink="wish/standard"></div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary" routerLink="wish/event"></div>
  <div class="hover:border-2 hover:transition hover:border-white menu-circle rounded-full bg-secondary" routerLink="" routerLinkActive="active"></div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary" routerLink="wish/weapon" ></div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary" routerLink="time" ></div>
</aside>
